<div class="center hero-unit">
  <h1>Welcome to the SWITT</h1>

  <h2>
    <!HOME page for the This application--]<!>
    Настя ты чудо :3
  </h2>
  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>
<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>